<form [formGroup]="loginform" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="panal panal-primary">
      <div class="panal-heading">
        <h3 class="panal-title">Reactive Employee Login Form</h3>
      </div>
      <div class="panal-body">
        <div class="form-Group">
            <label class="col-md-6 control-label" for="Email">Email</label>
            <div class="col-md-6">
            <input id="email" formControlName="email" type="email" class="form-control">
        </div>
    </div>
  <div class="form-Group">
    <label class="col-md-6 control-label" for="Password">Password</label>
    <div class="col-md-6">
      <input id="pass" formControlName="pass" type="password" class="form-control">
    
  </div>
  </div>
  </div><br>
  <div class="panal-footer">
  <button type="button" name="onSubmit" class="btn btn-success" type="submit">Login</button>
  </div>
  </div>
  </form><br/>
  
  


  <table border="1">
    <tr>
        <th style="padding: 10px">FormGroup</th>
        <th style="padding: 10px">FormControl (email)</th>
    </tr>

    <tr>
        <td style="padding: 10px">
          touched : {{ loginform.touched }}
          <br/> dirty : {{ loginform.dirty }}
          <br/> valid : {{ loginform.valid }}
          <br/> Form values : {{ loginform.value | json }}
      </td>
      
      <td style="padding: 10px">
          touched : {{ loginform.get('email').touched }}
          <br/> dirty : {{ loginform.get('email').dirty }}
          <br/> valid : {{ loginform.get('email').valid }}
          <br/> email value : {{ loginform.get('email').value }}
      </td>
    </tr>

</table>