<div class="jumbotron">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
               <ul class="nav navbar-nav">
                <li>
                    <a routerLinkActive="active" routerLink="list">List</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="create">Create</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="cdk">Cdk</a>
                </li>
    
            </ul>
        </div>
        </nav>
    <router-outlet></router-outlet>
    </div>
    </div>